<!--  

Asimov Widget Framework for Books
MIT License
http://asimov.chaucercloud.com
http://www.metrodigi.com

-->
<?xml version="1.0" encoding="utf-8"?>
<widget>
	<name>Popup</name>
	<author>Metrodigi</author>
	<version>0.1</version>
	<id>EPUB_WIDGET_POPUP</id>
	<label>Popup widget</label>
	<description>Widget for creating Popup</description>
	<dimensions width="620" height="700"/>
	<files>
		<filename resource='book' import='true' init-script="true">popup.js</filename>
		<filename resource='book' import='true'>popup.css</filename>
	</files>
	<!-- Depedencies for this widget, resource=”book” defines that it is for book only. It is ordered -->
	<dependencies>
		<dependency resource="book">external/mootools-core-1.4.5-full-nocompat-yc.js</dependency>
		<dependency resource="book">external/mootools-more-1.4.0.1-yc.js</dependency>
		<dependency resource="book">mootools-drag-touch.js</dependency>
		<dependency resource="book">common.js</dependency> 
	</dependencies>
	<params>
	</params>
</widget>