<!--  

IDPF ePub Widget Framework
MIT License
Demos: http://widgets.chaucercloud.com

-->
<?xml version="1.0" encoding="utf-8"?>
<widget>
	<name>Quiz</name>
	<author>Metrodigi</author>
	<version>0.1</version>
	<id>EPUB_WIDGET_QUIZ_MULTI_CHOICE</id>
	<label>Multiple Choice Quiz</label>
	<description>Widget for creating Quiz</description>
	<license url="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</license>
	<dimensions width="620" height="700"/>
	<files>
		<filename resource='book' import='true' init-script="true">quiz-multiple-choice.js</filename>
		<filename resource='book' import='true'>quiz-multiple-choice.css</filename>
	</files>
	<!-- Depedencies for this widget, resource=”book” defines that it is for book only. It is ordered -->
	<dependencies>
		<dependency resource="book">external/mootools-core-1.4.5-full-nocompat-yc.js</dependency>
		<dependency resource="book">external/mootools-more-1.4.0.1-yc.js</dependency>
		<dependency resource="book">mootools-drag-touch.js</dependency>
		<dependency resource="book">common.js</dependency>
	</dependencies>
	<params>
		<param key="accessRights">
            <access booktype='Refloable'>true</access>
            <access booktype='FixedLayout'>true</access>
        </param>
	</params>
</widget>