<!--  

IDPF ePub Widget Framework
MIT License
Demos: http://widgets.chaucercloud.com

-->
<?xml version="1.0" encoding="utf-8"?>
<widget>
	<!-- Name of the widget, url attribute specifies external URL for this widget-->
	<name url="http://widgets.chaucercloud.com/audio">Audio</name>

	<!-- Help page for authoring tools to load Help -->
	<help url="http://widgets.chaucercloud.com/help/audio">Get help for this widget at www.chaucercloud.com</help>

	<!-- Author of the widget and URL specifies Author"s webpage -->
	<author url="http://widgets.chaucercloud.com/about">Metrodigi</author>

	<!-- version of the widget -->
	<version>0.1</version>

	<!-- Unique ID of the widget, this doesn"t change, and has to be unique --> 
	<id>EPUB_WIDGET_AUDIO</id>

	<!-- Lable which should be visible to user for identification --> 
	<label>Audio</label>

	<!-- Description of the widget  --> 
	<description>Add Audio to the Book</description>

	<license url="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</license>

	<!-- List of files which are used for widget in either Editor or book.
	  -- resource attribute value can be either "editor" or "book"
	  -- "editor" specifies that file will be used / loaded in Editor.
	  -- "book" specifies that file will be used / loaded in Book, so it should be exported to book.
	-->
	<files>
		<filename resource="book" init-script="true">audio.js</filename>
		<filename resource="book">audio.css</filename>

		<filename resource="book" type="shared">external/mootools-core-1.4.5-full-nocompat-yc.js</filename>
		<filename resource="book" type="shared">external/mootools-more-1.4.0.1-yc.js</filename>
		<filename resource="book" type="shared">mootools-drag-touch.js</filename>
		<filename resource="book" type="shared">common.js</filename>
	</files>
	
	
	<params>
		<param key="compatibility">
            <access booktype="Refloable">true</access>
            <access booktype="FixedLayout">true</access>
        </param>
        <param key="editor">
        	<!-- Dimension of the widget Editor, not widget.--> 
			<dimensions width="530" height="260"/>
        </param>
	</params>
</widget>