<!--  

IDPF ePub Widget Framework
MIT License
Demos: http://widgets.chaucercloud.com

-->
<?xml version="1.0" encoding="utf-8"?>
<widget>
	<name>Gallery</name>
	<author>Metrodigi</author>
	<version>0.1</version>
	<label>Gallery</label>
	<id>EPUB_WIDGET_GALLERY</id>
	<description>gallery widget</description>
	<license url="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</license>
	
	<files>
		<filename resource='book' import='true' init-script='true'>gallery.js</filename>
		<filename resource='book' import='true'>gallery.css</filename>

		<filename resource="book" type="shared">external/mootools-core-1.4.5-full-nocompat-yc.js</filename>
		<filename resource="book" type="shared">external/mootools-more-1.4.0.1-yc.js</filename>
		<filename resource="book" type="shared">mootools-drag-touch.js</filename>
		<filename resource="book" type="shared">common.js</filename>
	</files>
	
	<params>
		<param key="compatibility">
            <access booktype='Refloable'>true</access>
            <access booktype='FixedLayout'>true</access>
        </param>

        <param key="editor">
        	<dimensions width="950" height="690"/>
        </param>
	</params>
</widget>