<!--  

Asimov Widget Framework for Books
MIT License
http://asimov.chaucercloud.com
http://www.metrodigi.com

-->
<?xml version="1.0" encoding="utf-8"?>
<widget>
	<name>Sidebar</name>
	<author>Metrodigi</author>
	<version>0.1</version>
	<id>EPUB_WIDGET_SIDEBAR</id>
	<label>Scrolling Sidebar</label>
	<description>Widget to add Sidebar</description>
	<license url="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</license>
	<dimensions width="740" height="660"/>
	<files>
		<filename resource='book' import='true' init-script="true">scrolling-sidebar.js</filename>
		<filename resource='book' import='true'>scrolling-sidebar.css</filename>
	</files>
	<!-- Depedencies for this widget, resource=”book” defines that it is for book only. It is ordered -->
	<dependencies>
		<dependency resource="book">external/mootools-core-1.4.5-full-nocompat-yc.js</dependency>
		<dependency resource="book">external/mootools-more-1.4.0.1-yc.js</dependency>
		<dependency resource="book">mootools-drag-touch.js</dependency>
		<dependency resource="book">common.js</dependency>
	</dependencies>
	<params>
		<param key="accessRights">
            <access booktype='Refloable'>true</access>
            <access booktype='FixedLayout'>true</access>
        </param>
	</params>
</widget>